//Cores

$black : #000000;
$white : #FFFFFF;
$white-2 : #f0eff5;
$white-3 : #ebe6f0;
$purple : #5F3CA1;
$purple-dark : #461978;
$purple-light : #782fc8;
$purple-xlight : #b482e1;
$yellow : #FFDD76;
$yellow-dark : #FFBF00;
$gray-01 : #453F51;
$gray-02 : #5E5570;
$gray-03 : #73737d;
$bg-zap : #16ba53;
$bg-zap-hover : #1bd25e;